<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heart Desease Prediction</title>
</head>
<body>
    <div class="login">
    <h1>Predict Heart Desease</h1>

    <form action = "{{ url_for('predict')}}"method="post">
        <table>
            <tr>
                <td><h5>Age</h5> </td>
                <td><input type="text" name="age" required="required"><br></td>
            </tr>
            <tr>
                <td><td><h5>Sex</h5></td>
                <td><input type="text" name="sex" required="required"></td>
            </tr>
        </table>
    <input type="text" name="cp" required="required"/><br>
    <input type="text" name="trestbps" required="required"/><br>
    <input type="text" name="chol" required="required"/><br>
    <input type="text" name="fbs" required="required"/><br>
    <input type="text" name="restecg" required="required"/><br>
    <input type="text" name="thalach" required="required"/><br>
    <input type="text" name="exang" required="required"/><br>
    <input type="text" name="oldpeak" required="required"/><br>
    <input type="text" name="slope" required="required"/><br>
    <input type="text" name="ca" required="required"/><br>
    <input type="text" name="thal" required="required"/><br>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <br>
    <br>
    {{ prediction_text }}

    </div>


</body>
</html>